In [8]:
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt

In [37]:
pd.set_option("display.precision", 1)

dat = {
    "books": ['Great Expectations', 'Of Mice and Men', 'Romeo and Juliet', 'The Time Machine', 'Alice in Wonderland'],
    "authors": ['Charles Dickens', 'John Steinbeck', 'William Shakespeare', ' H. G. Wells', 'Lewis Carroll' ],
    "user_1": [3.2, np.nan, np.nan, np.nan, 2.5],
    "user_2": [5., 1.3, 4.0, 3.8,np.nan],
    "user_3": [2.0, 2.3, np.nan, np.nan, 4],
    "user_4": [4, 3.5, 4, 5, 4.2],
    }

book_ratings = pd.DataFrame(dat, columns=dat.keys())
# book_ratings['user_1'].fillna(3.2, inplace=True)
# book_ratings['user_2'].fillna(3.2, inplace=True)
# book_ratings['user_3'].fillna(3.2, inplace=True)
# column_averages = book_ratings.mean()

#another way of finding and replacing
# book_ratings["user_1"] = book_ratings["user_1"].fillna(2.9)
# book_ratings["user_2"] = book_ratings["user_2"].fillna(3.5)
# book_ratings["user_3"] = book_ratings["user_3"].fillna(2.8)

#second methode of sorting and replacing
book_ratings.fillna(book_ratings.mean(numeric_only=True), inplace=True)
book_ratings

                 books              authors  user_1  user_2  user_3  user_4
0   Great Expectations      Charles Dickens     3.2     5.0     2.0     4.0
1      Of Mice and Men       John Steinbeck     2.9     1.3     2.3     3.5
2     Romeo and Juliet  William Shakespeare     2.9     4.0     2.8     4.0
3     The Time Machine          H. G. Wells     2.9     3.8     2.8     5.0
4  Alice in Wonderland        Lewis Carroll     2.5     3.5     4.0     4.2

Joel_4275320
Evangel_4278420
Edison_423220